body {
	/*Will make the sides blueish
	background-color: #82caff !important;*/
	padding-top: 50px;
	
}

img {
	display: block;
	position: relative;
	max-width: 100%;
	max-height: 100%;
}

.project-img {
	max-width:350px;
	max-height:290px;
}

a div p{
	text-decoration: none;
}

.page-link {
	padding-top:50px; 
	padding-bottom: 20px;
}

.projects {
	float:left;	
	width: 50%;
	height: 50%;
}

.text-centered {
	text-align: center;
	color:white;
}

.header {
	height:100%;
	background: url(../images/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
}

.head-text {
	font-family: roboto, arial, sans-serif;
	font-weight:bold;
	color:#ffffff;
	width:70%;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#head-container {
	padding-top:15%;
	overflow: visible;
}

.head-text * {
	vertical-align: middle;
}
.head-text h1 {
	font-size:63px;
}
.head-text h3 {
	font-size:22px;
}

.caption p a {
	display: inline-block;
	margin-right:5px;
}

#t {
	border-style: solid;
	border-width: 3px;
	border-color: red;
}

