<section class="wrapper style1">
    <div class="container">
        <div id="content">
            <section class="wrapper style1">
                <div class="container">
                    <div class="row 200%">
                       <div class="4u 12u(narrower)">
                            <div id="sidebar">
                                <section>
                                    <div class="box highlight">
                                        <span class="image featured"><img src="images/IMG_0083.jpg" alt="" /></span>
                                    </div>
                                </section>
                            </div>
                        </div> 
                        <div class="8u  12u(narrower) important(narrower)">
                            <div id="content">
                                <article>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porttitor dictum massa, nec porta purus sagittis et. Curabitur laoreet turpis non leo ullamcorper, eget laoreet libero fringilla. Nullam blandit tortor vel dui facilisis, eu ullamcorper mauris dictum. Maecenas congue rhoncus tortor, in egestas ante eleifend ut. Ut ultrices tellus eros, quis tincidunt ipsum consectetur eget. Mauris vitae lectus accumsan, tempus felis at, ultrices risus. Cras tincidunt interdum ante a finibus. Aenean ultrices quis magna sed convallis.</p>
                                </article>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </section>
        </div>
    </div>
</section>
