
<div class="col s12">
    <div class="card">
        <div class="card-content">
            <h5>A Brief Introduction</h5>
            <p>My name is Cory Jbara! I am a software engineer, a curious mind, a tinkering engineer, a fun lover, a food enthusiast, an active body, an energetic spirit, and an overall pretty cool guy.</p>
        </div>
    </div>
</div>
<div class="col s12">
    <div class="card">
        <div class="card-content">
        	<div class="row">
	            <div class="col s3">
	                <img src="../assets/images/detroit.jpg" style="width:100%">
	            </div>
	            <div class="col s9">
        			<h5><i class="fa fa-home"></i> My Home</h5>
	                <p>I am originally from the northern suburbs of Detroit, growing up in a great family of 5. When I was a kid, I loved to build anything and everything with Legos, and my creative mind is the same way to this day.</p>
	                <p>I am now a full time resident of Chicago! Although it's brand new, it still feels like a Midwestern home to me. I am trying to find my way around this city, and even a few months in, I am doing much better. I love Chicago so far, especially the tech scene here, and plan on staying here for quite a while.</p>
	            </div>
	        </div>
        </div>
    </div>
</div>
<div class="col s12">
    <div class="card">
        <div class="card-content">
        	<div class="row">
	            <div class="col s9">
        			<h5><i class="fa fa-book"></i> Education</h5>
	                <p>I am a recent graduate from the University of Notre Dame, graduating with a BS in Computer Science. I loved my time at ND, including the football games, the late nights studying, and just spending time with close friends. If you bring up Notre Dame, I'm sure I'll talk more than you'd like about it, but oh well. Go Irish!</p>
	            </div>
	            <div class="col s3">
	                <img src="../assets/images/nd.png" style="width:100%">
	            </div>
	        </div>
        </div>
    </div>
</div>
<div class="col s12 margin-bottom">
    <div class="card">
        <div class="card-content">
            <h5><i class="fa fa-laptop"></i> Love for Technology</h5>
            <p>I am fascinated by technology. With everything that has been created in this world to make people's lives easier, I know I chose the right profession. The number of people a single app can affect is crazy to think about, especially when you consider that 20-30 years ago the concept of a smartphone or a global social network was unfathomable. I am very excited for the coming years and to see what innovations people come up with to improve the lives of others. And in a few years, I plan on joining that spirit and starting my own company. Technology has a huge potential to improve many lives, and I want to use this oppottunity to make a change for good in this world, whatever that may mean. Who knows? Let's see where the journey leads.</p>
        </div>
    </div>
</div>