<div id="contact-me">
    <div class="container">
        <div class="connect-button text-center" id="facebook" ng-mouseover="contact.setContactInfo('facebook');" ng-mouseleave="contact.hideContact()">
            <a href="https://www.facebook.com/cory.jbara" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </div>
        <div class="connect-button text-center" id="linkedin" ng-mouseover="contact.setContactInfo('linkedin');" ng-mouseleave="contact.hideContact()">
            <a href="https://www.linkedin.com/pub/cory-jbara/76/41/978" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </div>
        <div class="connect-button text-center" id="github" ng-mouseover="contact.setContactInfo('github');" ng-mouseleave="contact.hideContact()">
            <a href="https://github.com/cjbara" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <h6 class="text-center {{contact.copyright}}">&copy Cory Jbara 2015</h6>
</div>