<div class="container mobile-text">
    <div class="row">
        <div class="col s12">
        	<img class="circle mobile-circle" src="assets/images/coryjbara.jpg"><br>
        	<b><span class="name center">Cory Jbara</span><br>
        	<span class="name center"><a href="mailto:cjbara@gmail.com">cjbara@gmail.com</a></span></b><br>
        </div>
        <div class="connect-button text-center waves-effect waves-light" id="linkedin-mobile">
            <a href="https://www.linkedin.com/pub/cory-jbara/76/41/978" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </div>
        <div class="connect-button text-center waves-effect" id="github">
            <a href="https://github.com/cjbara" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </div>
        <div class="connect-button text-center waves-effect waves-light" id="facebook">
            <a href="https://www.facebook.com/cory.jbara" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>