<div ng-controller="projectController as pcontroller">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <h4>Projects</h4>
            </div>
        </div>
    </div>
    <div ng-repeat="project in pcontroller.projects" class="col s12">
        <a tooltipped data-position="top" data-delay="0" data-tooltip="{{project.tooltip || 'View Project in GitHub'}}" class="card horizontal hoverable waves-effect waves-light" href="{{project.github}}" target="_blank">
            <div class="card-image">
                <img src="{{project.image}}">
            </div>
            <div class="card-content">
                <h5>{{project.title}}</h5>
                <p>{{project.desc}}</p>
            </div>
        </a>
	</div>
</div>