<div ng-controller="sidebarController as side" class="sidebar">
 <ul id="slide-out" class="side-nav fixed">
    <li>
    	<div class="userView">
			<img class="circle center" src="assets/images/coryjbara.jpg">
			<span class="name center">Cory Jbara</span>
			<span class="email center"><a href="mailto:cjbara@nd.edu">cjbara@nd.edu</a></span>
    	</div>
    </li>
    <li ng-repeat="tab in side.tabs" class="sidemenu">
    	<a class="waves-effect" ng-href="#/{{tab.link}}">{{tab.title}}</a>
    </li>
  </ul>
</div>