<div class="col s12">
    <div class="card">
        <div class="card-content">
            <h4>Skills</h4>
        </div>
    </div>
</div>
<div class="col s12">
    <div class="card">
        <div class="card-content">
            <h5><i class="fa fa-lightbulb-o"></i> Ideas <span class="paragraph"><i class="fa fa-arrow-right"></i></span> Solutions</h5>
            <p>I am an experienced and skilled developer. My approach is plan first, code second. I have found that formulating a thorough strategy saves time and produces the most sustainable code. Regardless of the problem at hand, I will do my best to find the most efficient and most sustainable solution possible. </p>
        </div>
    </div>
</div>
<div class="col s12">
    <div class="card">
        <div class="card-content">
            <h5><i class="fa fa-code"></i> Technologies</h5>
            <p>I have been able to utilize a number of different technologies, languages, and frameworks in my time as a developer. I am also able to pick up new languages quite easily, and adapt to the needs of my team. Some of the languages/frameworks I am most comfortable with include:
                <img class="language-image padding-left" src="../assets/images/c.png">
                <img class="language-image padding-left" src="../assets/images/cpp.png">
                <img class="language-image" src="../assets/images/java.png">
                <img class="language-image" src="../assets/images/python.jpeg">
                <img class="language-image" src="../assets/images/node.png">
                <img class="language-image" src="../assets/images/angular.png">
                <img class="language-image" src="../assets/images/spring.jpeg">
                <img class="language-image" src="../assets/images/swift.png">
                <img class="language-image" src="../assets/images/postgres.png">
                <img class="language-image" src="../assets/images/oracle.png">
        </div>
    </div>
</div>

<div class="col s12">
    <div class="card">
        <div class="card-content">
            <h5><i class="fa fa-users"></i> Leadership &amp; Teamwork</h5>
            <p>I have always considered myself a leader. I am able to take on many projects, all with the team's overall goals in sight, and I never back away from a challenge.</p>
            <p>Throughout my life, I have been on many teams, and more recently I have been working on many small development teams. Most of my school and personal projects have been built with a team, and my roles at HERE Technologies were both in collaborative, high energy team settings.</p>
        </div>
    </div>
</div>

<div class="col s12">
    <div class="card">
        <div class="card-content">
            <h5><i class="fa fa-tasks"></i> Project Management</h5>
            <p>Having worked in an Agile environment at Here Technologies, I have come to understand the importance of agile development and the process that accompanies it. Having clear organization of tasks within a sprint and the long-term goals of an organization is pivotal to a development team's success.</p>
        </div>
    </div>
</div>

<div class="col s12 margin-bottom">
    <div class="card col s12 hoverable modal-trigger waves-effect waves-light btn blue white-text" href="#otherSkills" modal>See My Relevant Coursework From Notre Dame</div>
</div>

<div class="modal modal-fixed-footer" id="otherSkills">
    <div class="modal-content">
        <!-- <h4><i class="fa fa-code"></i> Development</h4> -->
        <h5><i class="fa fa-book"></i> Relevant Coursework</h5>
        <ul class="classes">
            <li>
                <b>Algorithms: </b>dynamic programming, searching, sorting, Big O, P vs. NP, you know the gist.
            </li>
            <li>
                <b>Data Structures: </b>lists, stacks, queues, priority queues and search trees, and the algorithms that come with them.
            </li>
            <li>
                <b>Compilers: </b>scanning, parsing, typechecking, and code generation. It was cool to build a new programming language. 
            </li>
            <li>
                <b>Operating Systems: </b>processes and synchronization, memory management, distributed file systems, etc.
            </li>
            <li>
                <b>Advanced Database Projects: </b>practical experience in building and managing an Orcale database instance.
            </li>
            <li>
                <b>Database Concepts: </b>managing, retrieving and updating information from a database, query processing, distributed databases, and data security.
            </li>
            <li>
                <b>Computer Networks </b>concepts of networking, including tcp, udp, http and the layers associated with them.
            </li>
            <li>
                <b>Computer Architecture: </b>architectural concepts present in current scalar machines, assembly language programming (MIPS), and computer arithmetic.
            </li>
            <li>
                <b>Fundamentals of Computing I: </b>all C, all the time.
            </li>
            <li>
                <b>Fundamentals of Computing II: </b>C++ is a lot nicer than C. Object oriented concepts go a long way.
            </li>
            <li>
                <b>Basic Unix: </b>navigating a Unix environment, shell scripting in bash and tcsh, makefiles, vim, other command line stuff.
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect btn-flat">Close</button>
    </div>
</div>