<div class="col s12 m4">
    <div class="card hoverable">
        <div class="card-content">
            <h5><i class="fa fa-users"></i> Teamwork</h5>
            <p>I like teamwork.</p>
        </div>
    </div>
</div>
<div class="col s12 m4">
    <div class="card hoverable">
        <div class="card-content">
            <h5><i class="fa fa-code"></i> Development</h5>
            <p>I am a very proficient developer. I have used many technologies and languages, and will easily adapt to any language a company uses. Some of the languages/frameworks I am most comfortable with include:
            <ul>
                <li>C & C++</li>
                <li>Python</li>
                <li>Swift</li>
                <li>AngularJS</li>
                <li>NodeJS (Express)</li>
                <li>Oracle SQL</li>
                <li>MySQL</li>
            </ul>
            </p>
        </div>
    </div>
</div>
<div class="col s12 m4">
    <div class="card hoverable">
        <div class="card-content">
            <h5><i class="fa fa-tasks"></i> Project Management</h5>
            <p>Having worked in an Agile environment at Here Maps, I have come to understand the importance of agile development and the process that accompanies it. Having clear organization of tasks within a sprint and the long-term goals of an organization is pivotal to a development team's success.</p>
            <p>I have also learned it is important to not let the agile process prevent progress. </p>
        </div>
    </div>
</div>
<a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#courseModal">View a full list of my skills/Proficiencies</a>

<div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Relevant Coursework</h3>
            </div>
            <div class="modal-body">
                <div class="classes">
            <h4>Sophomore Year:</h4>
            <ul>
                <li>
                    <span>Fundamentals of Computing I: </span>Learned the C language's concepts such as arrays, functions, and pointers, along with techniques and algorithms for approaching and solving problems in computer science
                </li>
                <li>
                    <span>Discrete Math: </span>Introduction to theoretical computer science concepts, including logic, set theory, recursion, algorithms, and graphs
                </li>
                <li>
                    <span>Fundamentals of Computing II: </span>Learned more advanced OOP concepts in C++ such as classes/objects, polymorphism, and inheritance, along with techniques for developing large software systems
                </li>
                <li>
                    <span>Basic Unix: </span>Learned how to navigate a Unix environment, including shell scripting in bash and tcsh, makefiles, vim, and scripting languages Perl and Python
                </li>
                <li>
                    <span>Logic Design: </span>Learned concepts of boolean algebra and switching circuits, Karnaugh maps, design of combinational and of sequential logic networks, and sequential machines
                </li>
            </ul>
        </div>
        <div class="classes">
            <h4>Junior Year:</h4>
            <ul>
                <li>
                    <span>Data Structures: </span>Fundamental techniques in the design and analysis of non-numerical algorithms and their data structures: lists, stacks, queues, priority queues and search trees
                </li>
                <li>
                    <span>Compilers: </span>An introduction to the fundamental techniques and tools used in compiler construction, including language specification, lexical analysis, parsing techniques, run-time environments, and code generation.
                </li>
                <li>
                    <span>Computer Architecture: </span>Introduction to architectural concepts present in current scalar machines, assembly language programming (MIPS), and computer arithmetic
                </li>
                <li>
                    <span>Database Concepts: </span>Learned effective techniques in managing, retrieving and updating information from a database, query processing, distributed databases, and data security 
                </li>
                <li>
                    <span>Computer Entrepreneurship: </span>Learned about many different computer startups, analyzed how they have succeeded or why they have failed, and the strategies for being a leader/entrepreneur of a tech startup.    
                </li>
            </ul>
        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>