
<div class="col-sm-10 techskills">
    <p>I have gained technical skills through the classroom, my work experience, and projects I have done on the side. These skills include:</p>
    <ul>
        <li><span>C</span>, which I learned in Fundamentals of Computing and used to develop PacMan. I am currently writing a compiler for a primitive version of C in my compilers class.</li>
        <li><span>C++</span>, which I learned in Fundamentals of Computing II and use frequently for projects and coursework.</li>
        <li><span>Python</span>, which I learned a while ago, but gained great proficiency while developing a bot at GE Healthcare, as well as a side project I am currently working on using the Flask web framework.</li>
        <li><span>Ruby on Rails</span>, which I also learned at GE Healthcare while working in a development team.</li>
        <li><span>Object Oriented Programming</span>, which I have used in many languages including Python and C++. OOP is a great way to create large software packages and hide data from the user.</li>
        <li><span>Unix</span>, which is my favorite type of operating system. I use a Mac, but often I navigate in Terminal in order to make use of the Unix environment.</li>
        <li><span>Web Development</span>, including HTML, CSS, and JavaScript, which have been able to experiment with through the development of this website.</li>
        <li><span>SQL</span>, in which I have gained experience this semester through the development of a backend for the ND Room Picks project.</li>
        <li><span>iOS Development</span>, namely developing in Swift and using MVC to develop an app, which I taught myself while programming my Motivation App.</li>
    </ul>
    <a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#courseModal">View the courses I've taken</a>
</div>