<div class="col s12 m4">
    <div class="card">
        <div class="card-content">
            <h5><i class="fa fa-code"></i> Development</h5>
            <p>I am a very proficient developer. I have used a variety of technologies and languages, and will readily adapt to any language a company uses. Some of the languages/frameworks I am most comfortable with include:
            <ul>
                <li>C &amp; C++</li>
                <li>Python</li>
                <li>Swift</li>
                <li>AngularJS</li>
                <li>NodeJS (Express)</li>
                <li>Oracle SQL</li>
                <li>MySQL</li>
            </ul>
            </p>
        </div>
    </div>
</div>

<div class="col s12 m4">
    <div class="card">
        <div class="card-content">
            <h5><i class="fa fa-users"></i> Leadership &amp; Teamwork</h5>
            <p>I have always considered myself a leader. Throughout my life, I have been on many teams, and more recently I have been working on many small development teams. Most of my <a href="/#/projects">projects</a> have been built with a team, and all of my development projects at HERE Maps and GE Healthcare have been developed on a team.</p>
        </div>
    </div>
</div>

<div class="col s12 m4">
    <div class="card">
        <div class="card-content">
            <h5><i class="fa fa-tasks"></i> Project Management</h5>
            <p>Having worked in an Agile environment at Here Maps, I have come to understand the importance of agile development and the process that accompanies it. Having clear organization of tasks within a sprint and the long-term goals of an organization is pivotal to a development team's success.</p>
            <p>I have also learned it is important to not let the agile process prevent progress. </p>
        </div>
    </div>
</div>

<div class="card hoverable modal-trigger waves-effect waves-light btn blue white-text" href="#otherSkills" modal>See My Relevant Coursework</div>

<div class="modal modal-fixed-footer" id="otherSkills">
    <div class="modal-content">
        <!-- <h4><i class="fa fa-code"></i> Development</h4> -->
        <h5><i class="fa fa-book"></i> Relevant Coursework</h5>
        <ul>
            <li>
                <b>Data Structures: </b>Fundamental techniques in the design and analysis of non-numerical algorithms and their data structures: lists, stacks, queues, priority queues and search trees.
            </li>
            <li>
                <b>Compilers: </b>An introduction to the fundamental techniques and tools used in compiler construction, including language specification, lexical analysis, parsing techniques, run-time environments, and code generation.
            </li>
            <li>
                <b>Operating Systems: </b>Learned about process structure and synchronization, interprocess communication, memory management, file systems, security, I/O, and distributed files systems.
            </li>
            <li>
                <b>Advanced Database Projects: </b>Gained practical experience in creataing and managing an Orcale database instance. Built an application (IrishTrade) that won 2nd place in the Notre Dame Database Project Challenge.
            </li>
            <li>
                <b>Database Concepts: </b>Learned effective techniques in managing, retrieving and updating information from a database, query processing, distributed databases, and data security.
            </li>
            <li>
                <b>Computer Architecture: </b>Introduction to architectural concepts present in current scalar machines, assembly language programming (MIPS), and computer arithmetic.
            </li>
            <li>
                <b>Fundamentals of Computing I: </b>Learned the C language's concepts such as arrays, functions, and pointers, along with techniques and algorithms for approaching and solving problems in computer science.
            </li>
            <li>
                <b>Discrete Math: </b>Introduction to theoretical computer science concepts, including logic, set theory, recursion, algorithms, and graphs.
            </li>
            <li>
                <b>Fundamentals of Computing II: </b>Learned more advanced OOP concepts in C++ such as classes/objects, polymorphism, and inheritance, along with techniques for developing large software systems.
            </li>
            <li>
                <b>Basic Unix: </b>Learned how to navigate a Unix environment, including shell scripting in bash and tcsh, makefiles, vim, and scripting languages Perl and Python.
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect btn-flat">Close</button>
    </div>
</div>