img {
	display: block;
	position: relative;
	width: 100%;
	height:auto;
}

#contact-me {
	height:400px;
}

.contactme h3{
	padding-top:5%;
}

.contactme p {
	margin-left: 10px;
}

.connect-button {
	display: inline-block;
	margin: 10px;
	height: 75px;
	width: 75px;
	border-radius: 5px;
	vertical-align: top;
	border: 1px solid #e3e3e3;
	-webkit-filter: grayscale(100%);
}

.text {
	display: inline-block;
	margin: 10px auto 10px auto;
	width: 470px;
	border-radius:5px;
	display: none;
}

.text p {
	color: white;
	font-weight: bold;
	margin:5px;
	padding:5px;
}

#twitter {
	background-color: #55acee;
}

#facebook {
	background-color: #3B5998;
}

#linkedin {
	background-color: #0077b5;
}

#mail-square {
	background-color: #147efb;
}

#github {
	background-color: #00cc66;
}

#github.connect-button {
	padding:5px;
	padding-top:7px;
}

#github a img {
	height:60px;
}

.glyphicon-envelope	{
	font-size: 55px;
	padding-top: 13.33%;
	color: white;
}

#copyright {
	margin-top:100px;
}
