.connect-button {
	display: inline-block;
	cursor: pointer;
	margin: 10px;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	vertical-align: top;
	border: 1px solid #e3e3e3;
	-webkit-filter: grayscale(100%);
	color: #ffffff;
}

.connect-button:hover {
	cursor: pointer;
	-webkit-filter: grayscale(0%);
}

.connect-button a:hover {
	cursor: pointer;
	-webkit-filter: grayscale(0%);
}

.connect-button a span:hover {
	cursor: pointer;
	-webkit-filter: grayscale(0%);
}

.connect-button i {
    display:inline-block;
    font-size: 30px;
    color:white;
    height: 49px;
    width: 49px;
    line-height: 49px;
    text-align: center;
    vertical-align: bottom;
}

.text {
	margin: 10px auto 10px auto;
	width: 470px;
	border-radius:5px;
}

.text p {
	color: white;
	font-weight: bold;
	margin:5px;
	padding:5px;
}

#facebook {
	background-color: #3B5998;
}

#linkedin {
	background-color: #0077b5;
}

#mail-square {
	background-color: #147efb;
}

#github {
	background-color: #00cc66;
}